@import url('https://fonts.googleapis.com/css?family=Lobster|Satisfy&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 2rem;
}

.quote {
    // color: #7b1fa2;
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    line-height: normal;

    &::before {
        content: '"';
    }

    &::after {
        content: '"';
    }
}

.quote-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

// @media screen and (min-width: 768px) {
//     .home-container {
//         width: 60vh;
//     }
// }