<div class="home-container" *ngIf="quote.length; else elseBlock">
    <span class="quote">
        {{quote[quote.length - 1].title}}
    </span>
    <p class="quote-author"> -- {{quote[quote.length - 1].author}}</p>
    <br />
    <button mat-raised-button color="primary" [routerLink]="['/quotes']">View Quotes</button>
</div>

<ng-template #elseBlock>
    <div class="home-container">
        <span class="quote">
            Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less.
        </span>
        <p class="quote-author"> -- Admin</p>
    </div>
</ng-template>